<%- include("partials/head") %>


<%- include('partials/navbar') %> 

<h1>HomePage</h1>

<!-- HTML Tag Output -->
<%= 4 + 5 + 1 %>
<%= "Hello World".toUpperCase(); %> 

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi fugit eum esse consequuntur et praesentium minima culpa architecto nostrum, incidunt iusto quisquam, tempore hic. Eveniet error porro maxime et nihil?
Adipisci, aliquid? Porro voluptatibus neque veniam quisquam dignissimos reiciendis vitae facilis quos accusantium possimus. Aliquid consequuntur rem dignissimos aspernatur optio sed sit ad corrupti. Ex minus sint porro maxime similique.</p>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi fugit eum esse consequuntur et praesentium minima culpa architecto nostrum, incidunt iusto quisquam, tempore hic. Eveniet error porro maxime et nihil?
Adipisci, aliquid? Porro voluptatibus neque veniam quisquam dignissimos reiciendis vitae facilis quos accusantium possimus. Aliquid consequuntur rem dignissimos aspernatur optio sed sit ad corrupti. Ex minus sint porro maxime similique.</p>

<%- include('partials/footer') %> 